html,
body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

a.nav-link:hover {
    color: black;
}

a {
    color: black;
}

a:hover {
    color: #aed7cc;
}

a:visited {
    color: black;
}

.header {
    margin-bottom: 100px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.content {
    padding-top: 102px;
}

.nav-link {
    color: black;
    color: #90a1a0;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
}

.nav {
    background: white;
}

.navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer;
    border: none;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}

#logo {
    width: 50px;
    height: 50px;
    padding: 5px;
    margin-left: 10px;
}

#name-div {
    margin-top: 20%;
    font-family: "Rubik", sans-serif;
    text-transform: capitalize;
    color: black;
}

#home-name {
    font-size: 3.7vw;
}

.home-font {
    font-family: "Montserrat", sans-serif;
    font-size: 3vw;
}

.typewriter {
    overflow: hidden;
    white-space: nowrap;
    animation: typewriter;
    display: block;
    position: relative;
    animation-duration: 25s;
    animation-timing-function: steps(25, end);
    animation-iteration-count: infinite;
}

.typewriter::after {
    content: "|";
    color: grey;
    right: 0;
    animation: caret infinite;
    animation-duration: 1s;
    animation-timing-function: steps(1, end);
}

@keyframes typewriter {
    0%,
    100% {
        width: 0;
    }
    20%,
    80% {
        width: 10.2em;
    }
}

@keyframes caret {
    0%,
    100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

#portrait {
    border: 3px dashed rgb(0, 0, 0);
    width: 85%;
    height: auto;
}

#project {
    padding-top: 50px;
    background-color: white;
}

#contact {
    background-color: #f8f9fa;
    position: relative;
}

#portfolio-grid {
    background-color: white;
}

#about-grid {
    background-color: #f8f9fa;
}

#selfie {
    object-fit: cover;
    border: solid 2px black;
    width: 50%;
}

.photo {
    object-fit: cover;
    border: solid 2px black;
    width: 90%;
}

#contact-img {
    border: none;
}

.portfolio {
    text-align: center;
    margin-bottom: 10%;
}

.slide-right-font {
    font-family: "Montserrat", sans-serif;
    font-size: 4vw;
    text-transform: uppercase;
    color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.portfolio-image {
    border-radius: 5%;
    vertical-align: middle;
    border: black solid 15px;
}

.thumbnail-margin {
    margin-right: 30px;
    margin-left: 30px;
}

.contact {
    margin-top: 40px;
    text-align: center;
}

.contact-font {
    font-family: "Montserrat", sans-serif;
    font-size: 4vw;
    text-transform: uppercase;
    color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contact-icons {
    margin-top: 15px;
    text-align: center;
}

.contact-info {
    margin-top: 10px;
    font-family: "Montserrat", sans-serif;
}

.small {
    font-family: "Montserrat", sans-serif;
    font-size: 2vh;
    color: black;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    background: transparent;
}

.social-icons {
    width: 22px;
    height: 22px;
    padding: 0px;
    margin: 4px 2px 4px 2px;
}

#twitter {
    margin-bottom: -2px;
}

#copyright {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 5px;
}

.container {
    max-width: 3000px;
}

.columns {
    display: flex;
}

.col+.col {
    margin-left: 1.5em;
}

.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 90%;
    margin: 35px;
}

#word-wrap {
    white-space: nowrap;
}

.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in;
}

.fade-in.appear {
    opacity: 1;
}

.more-stuff-grid {
    background: #f4f4f4;
    padding: 4em 0;
    display: grid;
    grid-gap: 2em;
    align-items: center;
    grid-template-columns: minmax(1em, 1fr) repeat(2, minmax(200px, 400px)) minmax( 1em, 1fr);
}

.from-left {
    grid-column: 2 / 3;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.from-right {
    grid-column: 3 / 4;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
}

.from-left,
.from-right {
    transition: opacity 250ms ease-in, -webkit-transform 400ms ease-in;
    transition: opacity 250ms ease-in, transform 400ms ease-in;
    transition: opacity 250ms ease-in, transform 400ms ease-in, -webkit-transform 400ms ease-in;
    opacity: 0;
}

.from-left.appear,
.from-right.appear {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
}

.more-stuff-grid {
    padding: 4em 0;
    display: grid;
    grid-gap: 2em;
    align-items: center;
    grid-template-columns: minmax(1em, 1fr) repeat(2, minmax(200px, 400px)) minmax( 1em, 1fr);
}

[class*="col-"] {
    width: 100%;
}

@media (max-width: 764px) {
    #portrait {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
        border: 3px solid rgb(0, 0, 0);
    }
    .col-md-5 {
        margin-top: -85px;
    }
}

@include media-breakpoint-between(xs, sm) {
    .btn {
        @include button-size( $input-btn-padding-y-sm, $input-btn-padding-x-sm, $font-size-sm, $line-height-sm, $btn-border-radius-sm);
    }
}

.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 0.1) !important;
    height: 54px !important;
    font-size: 18px;
    font-weight: 300;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px !important;
}

#message {
    height: 130px !important;
}

.btn.btn-md {
    padding: 10px 25px !important;
}

.btn-primary {
    background: #da1212 !important;
    color: #fff !important;
    border: 2px solid #da1212 !important;
    border-radius: 0px !important;
}

.form-control {
    border: 2px solid grey !important;
}

.contact-grid {
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 10%;
}

.textarea-background {
    background-color: white;
    margin-left: 30px;
}

#form-info {
    max-width: 80%;
}

#rainbow {
    width: 82px;
    height: 52px;
    margin-left: -20px;
}

#to-top {
    text-align: center;
    padding-top: 10%;
}

#back-to-top {
    font-family: "Montserrat", sans-serif;
    color: black;
}

#copyright {
    text-align: center;
    padding-top: 5%;
    font-family: "Montserrat", sans-serif;
}